<div class="associate-main-page">
  <h1>Welcome to Skills Tracker</h1>
  <nav class="nav-links">
    <ul>
      <li><a routerLink="/associate" class="nav-link">Create A New Associate</a></li>
      <li><a routerLink="/associates" class="nav-link">View All Associates</a></li>
      <li><a routerLink="/delete-associate" class="nav-link">Delete Associates</a></li>
      <li><a routerLink="/associatedetails" class="nav-link">Search Associate</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
