/* styles.scss */

// Global styles
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

// Associate Main page styles
.associate-main-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 10px;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #1e344e;
}

// Navigation styles
.nav-links ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center; /* Center-align the navigation links */
}

.nav-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin: 0 10px; /* Add margin to separate buttons */

  &:hover {
    background-color: #0056b3;
  }
}

// Router outlet
router-outlet {
  display: block;
  margin-top: 20px;
}
