<h2>HR Form</h2>

<div *ngIf="successMessage" class="success-message">
  {{ successMessage }}
</div>

<form (ngSubmit)="saveHR()">
  <label>Email:</label>
  <input type="text" [(ngModel)]="hr.userEmail" name="userEmail" required>

  <label>Password:</label>
  <input type="password" [(ngModel)]="hr.userPassword" name="userPassword" required>

  <label>Security Question:</label>
  <input type="text" [(ngModel)]="hr.securityQuestion" name="securityQuestion" required>

  <label>Security Answer:</label>
  <input type="text" [(ngModel)]="hr.securityAnswer" name="securityAnswer" required>

  <button type="submit">Save</button>
</form>
