<form [formGroup]="associateForm" (ngSubmit)="onSaveAssociate()">
    <label for="associateFirstName">First Name</label>
    <input type="text" id="associateFirstName" formControlName="associateFirstName" required>
  
    <label for="associateLastName">Last Name</label>
    <input type="text" id="associateLastName" formControlName="associateLastName" required>
  
    <label for="associateEmail">Email</label>
    <input type="email" id="associateEmail" formControlName="associateEmail" required>
  
    <label for="associateMobile">Mobile</label>
    <input type="text" id="associateMobile" formControlName="associateMobile" required>
  
    <label for="dob">Date of Birth</label>
    <input type="date" id="dob" formControlName="dob" required>
  
    <label for="gender">Gender</label>
    <input type="text" id="gender" formControlName="gender" required>
  
    <label for="location">Location</label>
    <input type="text" id="location" formControlName="location" required>
  
    <label for="country">Country</label>
    <input type="text" id="country" formControlName="country" required>

    <label for="password">Password</label>
    <input type="text" id="password" formControlName="password" required>
  
    <button type="submit" [disabled]="!associateForm.valid">Save Associate</button>
  </form>
  