<h2>All Associates</h2>

<table class="table">
  <thead>
    <tr>
      <th>Associate ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Mobile</th>
      <th>Date of Birth</th>
      <th>Location</th>
      <th>Country</th>
      <!-- <th>Password</th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let associate of associates">
      <td>{{ associate.associateId}}</td>
      <td>{{ associate.associateFirstName }}</td>
      <td>{{ associate.associateLastName }}</td>
      <td>{{ associate.associateEmail }}</td>
      <td>{{ associate.associateMobile }}</td>
      <td>{{ associate.dob | date }}</td>
      <td>{{ associate.location }}</td>
      <td>{{ associate.country }}</td>
      <!-- <td>{{associate.password}}</td> -->
    </tr>
  </tbody>
</table>
